.blog-footer {
  padding-top: 100px;
  font-family: Rockwell;
  font-size: 18px;
  line-height: 30px;
  color: #aeaeae;
  font-weight: 400;
  b {
    color: #3eb3a5;
    font-weight: 700;
  }
}